@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: rgb(37, 36, 36);
    height: 100vh;
}

.player {
    color:white;
}

.playlist{
    overflow-y: scroll;
    height: 25rem;
    margin: 20rem, 0;
}

.track{
    font-size: 2rem;
    list-style:none;
    border-bottom-style: solid;
    border-bottom-color: rgb(31, 29, 29);
    border-bottom-width: 2px;
    text-align: center;
    color: rgb(17, 122, 13);
    padding:0.5rem;
}

    
